<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace='fragments/header :: head'>
		<meta charset='UTF-8'>
		<title id="pageTitle">Task Manager</title>
	</th:block>
	<script type="text/javascript" src="../js/task/task.js" /></script>
</head>

<body>
	<div th:insert="navbar :: navbar">  </div>
	
	<div class="container-fluid" style="margin-top : 80px">
		
		<div id="indexRow" class="row">
			
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1 class="panel-title">Tasks</h1>
					</div>
					<div class="panel-body">
						<!--  display class provides shade to rows -->
						<table id="taskTable" class="table table-hover display compact cell-border stripe" border="2">
							<thead class="thead-inverse">
								<tr>
									<!-- <th>ID</th> -->
									<th>Task Name</th>
									<th>Owner</th>
									<th style="text-align: center">Date Created</th>
									<th style="text-align: center">Completed</th>
									<th style="text-align: center">Date Completed</th>
									<th style="text-align: center">Actions</th>
								</tr>
							</thead>
						</table>
						<div>
							<!-- a href="#" th:href="@{'/todo/add'}"> -->
							<a href="#" th:href="@{'/task/add'}">
								<button type="submit">Add New Task</button>
							</a>
						</div>

					</div>
				</div>
			</div>
			
		</div>
		
		<div id="updateRow" class="row" style="display: none">
			<div class="col-md-8 col-md-offset-2">
				<div id='updatePrimaryId' class='panel panel-primary'>
					<div class='panel-heading'>
						<h1 class='panel-title'>Update Task Information</h1>
					</div>
					<div class='panel-body'>
						<div id='updateFormDiv'></div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="container" th:replace="fragments/footer :: footer">
		<p>footer</p>
	</div>
</body>

</html>