<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<th:block th:replace="fragments/header :: head">
		<meta charset='UTF-8'>
		<title id="pageTitle">Finance</title>
	</th:block>
		
	<link rel="stylesheet" href="/css/finance.css">
</head>

<body>
	<!-- <nav th:replace="fragments/header :: navbar"></nav> -->
	<div th:insert="navbar :: navbar">  </div>

	<div class="container-fluid" style="margin-top: 35px">
		<div id="indexRow" class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3>Finances Page</h3>
			</div>
		</div>
	</div>

	<div class="container" th:replace="fragments/footer :: footer">
		<p>footer</p>
	</div>
</body>

</html>