/* <style> */

body {
	background-color: #eaeded;
} 

div.container-fluid {
	background-color:  #eaeded;
}

div.name {
	text-align: center;
}

input {
	text-align: center;
	background-color: #d5dbdb;
}

strong {
	background-color: #eaeded;
}

.wrapper1 * {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1px;
	margin-right: 1px;
	/* background: white; */
	background-color: #d5dbdb;
}

.wrapper1 {
	display: grid;
	grid-template-columns: 2fr 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
	grid-template-rows: 2fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
	grid-gap: 5px;
	height: 10px;
	text-align: center;
	background-color: #d5dbdb;
}

.grid-child-element {
	margin: 5px;
	border: 1px solid #eaeded;
	background-color: #eaeded;
	white-space: nowrap;
	
}

.grid-container-element {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr fr 1fr;
	grid-gap: 5px;
	border: 1px solid #eaeded;
	text-align: left;
	width: 70%;
	height: 36px;
}

 button.save {
	visibility: hidden;
   }
 
input.game {
  align-self: left;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #eaeded;
} 

input.score {background-color: #eaeded;}
input.user-name {background-color: #eaeded;}
/* input.game { background-color: #d5dbdb;} */ 
input.edit { background-color:  #ffffff} 



/* .button.submit {
 	border: none;
  	color: white;
  	padding: 15px 32px;
 	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 10px;
 	margin: 4px 2px;
 	cursor: pointer;
}  */


/* </style> */