<!DOCTYPE html>
<html lang='en' xmlns:th='http://www.thymeleaf.org'>

<head>
	<th:block th:replace='fragments/header :: head'>
		<meta charset='UTF-8'>
		<title id="pageTitle">Spinners</title>
	</th:block>
	<link rel="stylesheet" href="/css/spinners_index.css">
	<script type="text/javascript" src="../../js/spinners/spinners_index.js" /></script>
</head> 

<body onload="hideElement()">
	<div th:insert="navbar :: navbar"></div>

	<div class="container-fluid" style="margin-top: 35px">
		<form action='#' th:action='@{/games/spinners/save}' method='post'
			th:object='${spinnersDto}'>
			<h3>Spinners Score Sheet</h3>
			<div class="grid-container-element">
				<div class="grid-child-element">
					<strong> <input class="game" id="playDate" size="35"
						maxlength="35" readonly type="text" th:field='*{displayDate}' />
					</strong>
				</div>
				<div class="grid-child-element">
					<button class="save" type="submit" name="submit">Save
						Total Scores</button>
				</div>
			</div>
			<br />

			<div class="wrapper1">
				<div class="name">&nbsp;</div>
				<div class="name">
					<strong>starter</strong>
				</div>
				<div class="name">
					<strong>player 1</strong>
				</div>
				<div class="name">
					<strong>player 2</strong>
				</div>
				<div class="name">
					<strong>player 3</strong>
				</div>
				<div class="name">
					<strong>player 4</strong>
				</div>
				<div class="name">
					<strong>player 5</strong>
				</div>
				<div class="name">
					<strong>player 6</strong>
				</div>
				<div class="name">
					<strong>player 7</strong>
				</div>

				<div class="name">
					<strong>Player Name:</strong> <input type="image" id="image_2"
						width="35" height="40" src="../../images/313/gray.png" />
				</div>
				<div class="name">&nbsp;&nbsp;&nbsp;</div>
				<!--  players start -->
				<div class="name">
					<input id="player1" class="user-name" type="text" maxlength="10"
						size="10" onclick="hideElement()"
						onkeypress="return event.keyCode != 13;" th:field='*{player1}' />
				</div>
				<div class="name">
					<input id="player2" class="user-name" type="text" maxlength="10"
						size="10" onclick="hideElement()"
						onkeypress="return event.keyCode != 13;" th:field='*{player2}' />
				</div>
				<div class="name">
					<input id="player3" class="user-name" type="text" maxlength="10"
						size="10" onclick="hideElement()"
						onkeypress="return event.keyCode != 13;" th:field='*{player3}' />
				</div>
				<div class="name">
					<input id="player4" class="user-name" type="text" maxlength="10"
						size="10" onclick="hideElement()"
						onkeypress="return event.keyCode != 13;" th:field='*{player4}' />
				</div>
				<div class="name">
					<input id="player5" class="user-name" type="text" maxlength="10"
						size="10" onclick="hideElement()"
						onkeypress="return event.keyCode != 13;" th:field='*{player5}' />
				</div>
				<div class="name">
					<input id="player6" class="user-name" type="text" maxlength="10"
						size="10" onclick="hideElement()"
						onkeypress="return event.keyCode != 13;" th:field='*{player6}' />
				</div>
				<div class="name">
					<input id="player7" class="user-name" type="text" maxlength="10"
						size="10" onclick="hideElement()"
						onkeypress="return event.keyCode != 13;" th:field='*{player7}' />
				</div>
				<!--  players finish -->

				<!--  round 3 start -->
				<div class="name">
					<strong>round-9:&nbsp;&nbsp;&nbsp;</strong> <input type="image"
						id="image3" width="50" height="30"
						src="../../images/spinners/domino-white-9-9.png" />
				</div>

				<!-- dealer 1 start -->
				<div class="name">
					<input id="dealer_3" class="edit" type="text" min="1" max="7"
						maxlength="1" size="1" onkeydown="return event.keyCode != 13;" />
				</div>
				<!-- dealer 1 stop -->

				<!-- round 3 user start -->
				<div class="name">
					<input id="user_1_3" name="user_1" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser1()" onclick="hideElement()" />
				</div>
				<div class="name">
					<input id="user_2_3" name="user_2" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser2()" onclick="hideElement()" />
				</div>
				<div class="name">
					<input id="user_3_3" name="user_3" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser3()" onclick="hideElement()" />
				</div>
				<div class="name">
					<input id="user_4_3" name="user_4" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser4()" onclick="hideElement()" />
				</div>
				<div class="name">
					<input id="user_5_3" name="user_5" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser5()" onclick="hideElement()" />
				</div>
				<div class="name">
					<input id="user_6_3" name="user_6" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser6()" onclick="hideElement()" />
				</div>
				<div class="name">
					<input id="user_7_3" name="user_7" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser7()" onclick="hideElement()" />
				</div>
				<!-- round 3 user end -->
				<!-- round 3 end -->

				<!-- round 4 start -->
				<div class="name">
					<strong>round-8:&nbsp;&nbsp;&nbsp;</strong> <input type="image"
						id="image4" width="50" height="30"
						src="../../images/spinners/domino-white-8-8.png" />
				</div>

				<!-- dealer 2 start -->
				<div class="name">
					<input id="dealer_4" class="edit" type="text" maxlength="1"
						size="1" />
				</div>
				<!-- dealer 2 end -->

				<!-- round 4 user start -->
				<div class="name">
					<input id="user_1_4" name="user_1" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser1()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_2_4" name="user_2" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser2()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_3_4" name="user_3" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser3()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_4_4" name="user_4" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser4()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_5_4" name="user_5" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser5()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_6_4" name="user_6" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser6()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_7_4" name="user_7" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser7()" onclick="hideElement()" />
				</div>

				<div class="name">
					<strong>round-7:&nbsp;&nbsp;&nbsp;</strong> <input type="image"
						id="image5" width="50" height="30"
						src="../../images/spinners/domino-white-7-7.png" />
				</div>

				<div class="name">
					<input id="dealer_5" class="edit" type="text" maxlength="1"
						size="1" />
				</div>

				<div class="name">
					<input id="user_1_5" name="user_1" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser1()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_2_5" name="user_2" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser2()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_3_5" name="user_3" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser3()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_4_5" name="user_4" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser4()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_5_5" name="user_5" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser5()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_6_5" name="user_6" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser6()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_7_5" name="user_7" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser7()" onclick="hideElement()" />
				</div>

				<div class="name">
					<strong>round-6:&nbsp;&nbsp;&nbsp;</strong> <input type="image"
						id="image6" width="50" height="30"
						src="../../images/spinners/domino-white-6-6.png" />
				</div>

				<div class="name">
					<input id="dealer_6" class="edit" type="text" maxlength="1"
						size="1" />
				</div>

				<div class="name">
					<input id="user_1_6" name="user_1" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser1()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_2_6" name="user_2" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser2()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_3_6" name="user_3" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser3()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_4_6" name="user_4" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser4()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_5_6" name="user_5" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser5()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_6_6" name="user_6" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser6()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_7_6" name="user_7" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser7()" onclick="hideElement()" />
				</div>

				<div class="name">
					<strong>round-5:&nbsp;&nbsp;&nbsp;</strong> <input type="image"
						id="image7" width="50" height="30"
						src="../../images/spinners/domino-white-5-5.png" />
				</div>

				<div class="name">
					<input id="dealer_7" class="edit" type="text" maxlength="1"
						size="1" />
				</div>

				<div class="name">
					<input id="user_1_7" name="user_1" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser1()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_2_7" name="user_2" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser2()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_3_7" name="user_3" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser3()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_4_7" name="user_4" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser4()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_5_7" name="user_5" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser5()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_6_7" name="user_6" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser6()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_7_7" name="user_7" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser7()" onclick="hideElement()" />
				</div>

				<div class="name">
					<strong>round-4:&nbsp;&nbsp;</strong> <input type="image"
						id="image8" width="50" height="30"
						src="../../images/spinners/domino-white-4-4.png" />
				</div>

				<div class="name">
					<input id="dealer_8" class="edit" type="text" maxlength="1"
						size="1" />
				</div>

				<div class="name">
					<input id="user_1_8" name="user_1" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser1()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_2_8" name="user_2" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser2()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_3_8" name="user_3" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser3()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_4_8" name="user_4" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser4()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_5_8" name="user_5" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser5()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_6_8" name="user_6" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser6()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_7_8" name="user_7" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser7()" onclick="hideElement()" />
				</div>

				<div class="name">
					<strong>round-3:&nbsp;&nbsp;&nbsp;</strong> <input type="image"
						id="image9" width="50" height="30"
						src="../../images/spinners/domino-white-3-3.png" />
				</div>

				<div class="name">
					<input id="dealer_9" class="edit" type="text" maxlength="1"
						size="1" />
				</div>

				<div class="name">
					<input id="user_1_9" name="user_1" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser1()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_2_9" name="user_2" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser2()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_3_9" name="user_3" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser3()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_4_9" name="user_4" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser4()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_5_9" name="user_5" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser5()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_6_9" name="user_6" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser6()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_7_9" name="user_7" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser7()" onclick="hideElement()" />
				</div>

				<div class="name">
					<strong>round-2:&nbsp;&nbsp;&nbsp;</strong> <input type="image"
						id="image10" width="50" height="30"
						src="../../images/spinners/domino-white-2-2.png" />
				</div>

				<div class="name">
					<input id="dealer_10" class="edit" type="text" maxlength="1"
						size="1" />
				</div>

				<div class="name">
					<input id="user_1_10" name="user_1" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser1()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_2_10" name="user_2" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser2()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_3_10" name="user_3" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser3()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_4_10" name="user_4" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser4()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_5_10" name="user_5" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser5()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_6_10" name="user_6" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser6()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_7_10" name="user_7" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser7()" onclick="hideElement()" />
				</div>


				<div class="name">
					<strong>round-1:&nbsp;&nbsp;&nbsp;</strong> <input type="image"
						id="image11" width="50" height="30"
						src="../../images/spinners/domino-white-1-1.png" />
				</div>

				<div class="name">
					<input id="dealer_11" class="edit" type="text" maxlength="1"
						size="1" />
				</div>

				<div class="name">
					<input id="user_1_11" name="user_1" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser1()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_2_11" name="user_2" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser2()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_3_11" name="user_3" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser3()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_4_11" name="user_4" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser4()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_5_11" name="user_5" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser5()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_6_11" name="user_6" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser6()" onclick="hideElement()" />
				</div>

				<div class="name">
					<input id="user_7_11" name="user_7" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser7()" onclick="hideElement()" />
				</div>


				<div class="name">
					<strong>round-0:&nbsp;&nbsp;&nbsp;</strong> <input type="image"
						id="image12" width="50" height="30"
						src="../../images/spinners/domino-white-0-0.png" />
				</div>

				<div class="name">
					<input id="dealer_12" class="edit" type="text" maxlength="1"
						size="1" />
				</div>

				<div class="name">
					<input id="user_1_12" name="user_1" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser1()" onclick="showElement()" />
				</div>

				<div class="name">
					<input id="user_2_12" name="user_2" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser2()" onclick="showElement()" />
				</div>

				<div class="name">
					<input id="user_3_12" name="user_3" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser3()" onclick="showElement()" />
				</div>

				<div class="name">
					<input id="user_4_12" name="user_4" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser4()" onclick="showElement()" />
				</div>

				<div class="name">
					<input id="user_5_12" name="user_5" class="edit" type="text"
						min="-5" max="156" size="3"
						onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser5()" onclick="showElement()" />
				</div>

				<div class="name">
					<input id="user_6_12" name="user_6" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser6()" onclick="showElement()" />
				</div>

				<div class="name">
					<input id="user_7_12" name="user_7" class="edit" type="text"
						size="3" onkeydown="return event.keyCode != 13;"
						onblur="findTotalForUser7()" onclick="showElement()" />
				</div>

				<div class="name">
					<strong>Total Scores:&nbsp;</strong> <input type="image"
						id="image_14" width="35" height="40" src="../../images/313/gray.png" />
				</div>

				<div class="name">
					<!-- SPACER -->
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="user_1_tot"
						size="5" maxlength="4" readonly th:field='*{score1}' /></strong>
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="user_2_tot"
						size="5" maxlength="4" readonly th:field='*{score2}' /></strong>
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="user_3_tot"
						size="5" maxlength="4" readonly th:field='*{score3}' /></strong>
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="user_4_tot"
						size="5" maxlength="4" readonly th:field='*{score4}' /></strong>
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="user_5_tot"
						size="5" maxlength="4" readonly th:field='*{score5}' /></strong>
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="user_6_tot"
						size="5" maxlength="4" readonly th:field='*{score6}' /></strong>
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="user_7_tot"
						size="5" maxlength="4" readonly th:field='*{score7}' /></strong>
				</div>
				
				<div class="name">
					<strong>Round Wins:&nbsp;</strong> <input type="image"
						id="image_14" width="35" height="40" src="../../images/spinners/gray.png" />
				</div>
				
				<div class="name">
					<!-- SPACER -->
				</div>
				
				<div class="name">
					<strong><input class="score" type="text" id="rv_1_tot"
						size="5" maxlength="4" readonly th:field='*{rv1}' /></strong>
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="rv_2_tot"
						size="5" maxlength="4" readonly th:field='*{rv2}' /></strong>
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="rv_3_tot"
						size="5" maxlength="4" readonly th:field='*{rv3}' /></strong>
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="rv_4_tot"
						size="5" maxlength="4" readonly th:field='*{rv4}' /></strong>
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="rv_5_tot"
						size="5" maxlength="4" readonly th:field='*{rv5}' /></strong>
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="rv_6_tot"
						size="5" maxlength="4" readonly th:field='*{rv6}' /></strong>
				</div>

				<div class="name">
					<strong><input class="score" type="text" id="rv_7_tot"
						size="5" maxlength="4" readonly th:field='*{rv7}' /></strong>
				</div>
			</div>
		</form>
	</div>

	<div class='container' th:replace='fragments/footer :: footer'>
		<p>footer</p>
	</div>

</body>

</html>






<!-- light gray = #eaeded; -->
<!-- gray = #e7e6e6; -->
<!-- onkeypress="return onlyNumberKey(event)" -->
