<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace='fragments/header :: head'>
		<meta charset='UTF-8'>
		<title id="pageTitle">Spinner Save Status</title>
	</th:block>
	<link rel="stylesheet" href="/css/spinners_save.css">
</head>

<body>
	<div th:insert="navbar :: navbar"></div>
	
	<div class="container-fluid" style="margin-top: 35px">
		<h3>Spinner Save Status</h3>
		<br/>
		<br/>
		<div class="wrapper1">
			<div class="name">
				<strong>Game Id:</strong> 
			</div>
			
			<div class="name">
				<input class="user-name" type="text" style="align: left" 
					maxlength="6" size="6" 
					th:field='*{spinnersDto.id}'/>
			</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			
			<div class="name">
				<strong>Game Start:</strong> 
			</div>
			<div class="name">
				<input class="user-name" type="text" style="align: left" 
					maxlength="20" size="20"
					th:field='*{spinnersDto.playDate}' />
			</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			
			<!--  player header start -->
			<div class="name">&nbsp;</div>
			<div class="name"><b>
				<input class="user-name" type="text" style="align: right, font-weight: bold;" 
					 maxlength="10" size="6" value="Player 1"/></b>
			</div>
			<div class="name"><b>
				<input class="user-name" type="text" style="align: right, font-weight: bold;" 
					 maxlength="10" size="6" value="Player 2"/></b>
			</div>
			<div class="name"><b>
				<input class="user-name" type="text" style="align: right, font-weight: bold;" 
					 maxlength="10" size="6" value="Player 3"/></b>
			</div>
			<div class="name"><b>
				<input class="user-name" type="text" style="align: right, font-weight: bold;" 
					 maxlength="10" size="6" value="Player 4"/></b>
			</div>
			<div class="name"><b>
				<input class="user-name" type="text" style="align: right, font-weight: bold;" 
					 maxlength="10" size="6" value="Player 5"/></b>
			</div>
			<div class="name"><b>
				<input class="user-name" type="text" style="align: right, font-weight: bold;" 
					 maxlength="10" size="6" value="Player 6"/></b>
			</div>
			<div class="name"><b>
				<input class="user-name" type="text" style="align: right, font-weight: bold;" 
					 maxlength="10" size="6" value="Player 7"/></b>
			</div>
			<!--  player header end -->
			
			<div class="name">
				<strong>Players:</strong> 
			</div>
			
			<div class="name">
				<input class="user-name" type="text" style="align: right" maxlength="10" size="6" 
					th:field='*{spinnersDto.player1}' />
			</div>
			
			<div class="name">
				<input class="user-name" type="text" style="align: right"  maxlength="10" size="6" 
					th:field='*{spinnersDto.player2}' />
			</div>
			
			<div class="name">
				<input class="user-name" type="text" style="align: right" maxlength="10" size="6" 
					th:field='*{spinnersDto.player3}' />
			</div>
			
			<div class="name">
				<input class="user-name" type="text" style="align: right" maxlength="10" size="6" 
					th:field='*{spinnersDto.player4}' />
			</div>
			
			<div class="name">
				<input class="user-name" type="text" style="align: right" maxlength="10" size="6" 
					th:field='*{spinnersDto.player5}'/>
			</div>
			
 			<div class="name">
				<input class="user-name" type="text" style="align: right" maxlength="10" size="6" 
					th:field='*{spinnersDto.player6}' />
			</div>

			<div class="name">
				<input class="user-name" type="text" style="align: right" maxlength="10" size="6" 
					th:field='*{spinnersDto.player7}' />
			</div>
			
			<div class="name">
				<strong>Scores:</strong> 
			</div>
			
			<div class="name">
				<input class="score" type="text" id="user_1_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.score1}' />
			</div>
			
			<div class="name">
				<input class="score" type="text" id="user_2_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.score2}' />
			</div>
			
			<div class="name">
				<input class="score" type="text" id="user_3_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.score3}' />
			</div>
			
			<div class="name">
				<input class="score" type="text" id="user_4_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.score4}' />
			</div>
			
			<div class="name">
				<input class="score" type="text" id="user_5_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.score5}' />
			</div>
			
 			<div class="name">
				<input class="score" type="text" id="user_6_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.score6}'/>
			</div>
		
			<div class="name">
				<input class="score" type="text" id="user_7_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.score7}' />
			</div>
			
 			<div class="name">
				<strong>Round Wins:</strong> 
			</div>
			
			<div class="name">
				<input class="score" type="text" id="user_1_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.rv1}' />
			</div>
			
			<div class="name">
				<input class="score" type="text" id="user_2_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.rv2}' />
			</div>
			
			<div class="name">
				<input class="score" type="text" id="user_3_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.rv3}' />
			</div>
			
			<div class="name">
				<input class="score" type="text" id="user_4_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.rv4}' />
			</div>
			
			<div class="name">
				<input class="score" type="text" id="user_5_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.rv5}' />
			</div>
			
 			<div class="name">
				<input class="score" type="text" id="user_6_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.rv6}'/>
			</div>
		
			<div class="name">
				<input class="score" type="text" id="user_7_tot" style="align: center" size="5"
					maxlength="4" readonly th:field='*{spinnersDto.rv7}' />
			</div>
	 
			<div class="name">
				<strong>Winner:</strong> 
			</div>
			
			<div class="name">
				<strong><input class="score" type="text" id="user_winner" 
					style="align: center" size="5" maxlength="4" 
					readonly th:field='*{spinnersDto.winner}' /></strong>
			</div>
			
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			
			<div class="name">
				<strong>Elapsed Time (h:m:s):</strong> 
			</div>
			
			<div class="name">
				<input class="score" type="text" id="elapsed_time" style="align: center" size="10"
					maxlength="10" readonly th:field='*{spinnersDto.elapsedTime}' />
			</div>
			
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			
			<!--  blank row  -->
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<!--  end blank row  -->
			
			
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">
				<form action='#' th:action='@{/games/spinners/index}'  method='get'  
					th:object='${spinnersDto}'>
		    		<button class="name" type="submit" name="submit">Play Again</button>
				</form>
			</div>
			<div class="name">
				<form action='#' th:action='@{../../home}'  method='get'>
		    		<button class="name" type="submit" name="submit">Go Home</button>
				</form>
			</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
			<div class="name">&nbsp;</div>
		</div>
	</div>
	
	<div class='container' th:replace='fragments/footer :: footer'>
		<p>footer</p>
	</div>

</body>


</html>

