<!DOCTYPE html>
<html lang='en' xmlns:th='http://www.thymeleaf.org'>

<head th:include='fragments/header :: head'>
	<meta charset='UTF-8'>
	<title> Word Helper</title>
	
<!-- 	<style type='text/css'>
		label {
			display: inline-block;
			width: 200px;
			margin: 5px;
			text-align: left;
		}
		input[type=text], input[type=password], select {
			display: inline-block;
			width: 200px;
		}
		input[type=radio] {
			margin-left: 45px;
		}
		input[type=checkbox] {
			margin-right: 190px;
		}	
		button {
			padding: 5px;
			margin: 10px;
		}
	</style> -->
</head>
  
<body>
	<div th:insert='navbar :: navbar'></div>

	<div class='container-fluid' style='margin-top: 40px'>
		<div id='indexRow' class='row'>
			<div class='col-md-8 col-md-offset-2'>
				<h3>Word(le) Help</h3>
			</div>
		</div>
 	</div>
 	
 	
 	<div align='center'>
		<form action='#' th:action='@{/word/get}' method='get' th:object='${wordSupportDto}'>
			<h5>Enter up to 5 character values that <b>ALL EXIST</b> within a word:</h5>
				<label>character values:</label>
				<input type='text' maxlength='5' size='7' 
					th:field='*{wordName}' /><br/><br/>
			<h5>Enter up to 22 character values that <b>DO NOT EXIST</b> within a word:</h5>
				<label>character values:</label>
				<input type='text' maxlength='22' size='23' 
					th:field='*{noWordName}' /><br/><br/>
			<h5>Enter character value as <b>EXISTING</b> in a specified character position:</h5>	
				<label>1:</label>
				<input type='text' maxlength='1' size='2' th:field='*{inChar1}' />
				<label>2:</label>
				<input type='text' maxlength='1' size='2' th:field='*{inChar2}' />
				<label>3:</label>
				<input type='text' maxlength='1' size='2' th:field='*{inChar3}' />
				<label>4:</label>
				<input type='text' maxlength='1' size='2' th:field='*{inChar4}' />
				<label>5:</label>
				<input type='text' maxlength='1' size='2' th:field='*{inChar5}' />
				<br/><br/>
			<h5>Enter character value as <b>NOT EXISTING</b> in a specified character position:</h5>	
				<label>1:</label>
				<input type='text' maxlength='1' size='2' th:field='*{notInChar1}' />
				<label>2:</label>
				<input type='text' maxlength='1' size='2' th:field='*{notInChar2}' />
				<label>3:</label>
				<input type='text' maxlength='1' size='2' th:field='*{notInChar3}' />
				<label>4:</label>
				<input type='text' maxlength='1' size='2' th:field='*{notInChar4}' />
				<label>5:</label>
				<input type='text' maxlength='1' size='2' th:field='*{notInChar5}' />
				<br/><br/>
				<button type='submit'>submit</button>
				<br/>
			<h4>Matching Words Results: <input type='text' maxlength='4' size='5' th:field='*{wordCount}' /></h4>
			<br/>
			<textarea id='textarea' rows='5' cols='80' th:field='*{words}'></textarea>
		</form>
	</div>
	
<!-- 	<div align='center'>
 		<br/>
 		<form action='#' th:action='@{/word/index}' method='get'>
 			<button> reset </button>
 		</form> 
 	</div>
 --> 	
			
	<div class='container' th:replace='fragments/footer :: footer'>
		<p>footer</p>
	</div>

 </body>

</html>