<!-- see: https://stackoverflow.com/questions/31451830/head-and-title-in-thymeleaf-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragments="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:include=":: #pageTitle">Generic Title</title>

	<script	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous" 
		th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="css/custom.css">
	
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<body>
	<!--  
		<nav class="navbar navbar-default navbar-inverse navbar-default navbar-fixed-top" th:fragment="navbar">
		<div class="container">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only"></span>
				</button>
				<a class="navbar-brand" href="/home">Nancy's Family Web Site</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
								aria-haspopup="true" aria-expanded="false">Modules
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/task/index">Tasks</a></li>
							<li><a href="/users/index">Users</a></li>
							<li><a href="/contacts/contacts">Contacts</a></li>
							<li><a href="/finance/finance">Finances</a></li>
							<li><a href="/word/index">Words</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Application Info <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/buildInfo">Build Information</a></li>
							<li><a href="/pomInfo">POM Information</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Another something else link</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav> -->
</body>
</html>