<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head">
	<title id="pageTitle">Add User</title>
</head>

<body>
	<div th:insert="navbar :: navbar">  </div>

	<div class="container-fluid" style="margin-top: 120px">
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				
				<div class="panel-group">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="panel-title">Add User Information</h1>
						</div>
						<div class="panel-body">
							<form id="addTodo" th:object="${user}" th:action="@{'/user/add'}"
								method="POST">
								<div class="row">
									<div class="col-md-4">
										<label for="addUserNameId">User Name (Unique): </label> <input
											id="addUserNameId" type="text" class="form-control"
											th:field=*{name} />
									</div>
									<div class="col-md-4">
										<label for="addUserFirstNameId">First Name: </label> <br /> <input
											id="addUserFirstNameId" class='form-control'
											style="width: 200px; height: 32px" th:field="*{firstName}">
									</div>
									<div class="col-md-4">
										<label for="addUserLastNameId">Last Name: </label> <br /> <input
											id="addUserLastNameId" class='form-control'
											style="width: 200px; height: 32px" th:field="*{lastName}">
									</div>
								</div>
								<br />
								<div class="row">
									<div class="col-md-5 col-md-offset-2">
										<label for="addUserPhoneId">Phone: </label> <br /> <input
											id="addUserPhoneId" class='form-control'
											style="width: 200px; height: 32px" th:field="*{phone}">
									</div>
									<div class="col-md-5">
										<label for="addUserEmailId">Email: </label> <br /> <input
											id="addUserEmailId" class='form-control'
											style="width: 200px; height: 32px" th:field="*{email}">
									</div>
								</div>
								<br />
								<div class="row">
									<div class="col-md-12 col-centered" style="text-align: center;">
										<span>
											<button type="submit" name="submit" class='addButton'>Submit
												User</button> &nbsp;&nbsp;&nbsp;&nbsp;
											<button type="reset" class='cancelAddlButton'>Reset</button>
											&nbsp;&nbsp;&nbsp;&nbsp;
											<button id="cancelAddlButton" type="submit" name="cancel">Cancel</button>
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" th:replace="fragments/footer :: footer">
		<p>footer</p>
	</div>

</body>
</html>