<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/header :: head">
		<meta charset='UTF-8'>
		<title id="pageTitle">Home</title>
	</th:block>
	
	<link rel="stylesheet" href="/css/home.css">
</head>

<body>
	<div th:insert="navbar :: navbar">  </div>

	<div class="container-fluid" 
		style="margin-top: 45px">
		<br/><br/><br/>
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to our website!</h3>
		<br/><br/><br/>
		<div align="center">
			<input type="image" width="520" height="475"
				src="../../images/home/jbhnbd.png" />
		</div>	
	</div>

	<div class="container" th:replace="fragments/footer :: footer">
		<p>footer</p>
	</div>
</body>

</html>