<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<th:block th:replace="fragments/header :: head">
		<meta charset='UTF-8'>
		<title id="pageTitle">Heroku Resources</title>
	</th:block>
	<link rel="stylesheet" href="/css/wiki.css">
		<style>
		#htmldocs {
			height: 300px;
			width: 500px;
			overflow: scroll; /* This is the key!! */
			border: 1px #aabbcc solid;
			padding: 10px;}
  	</style>
</head>
<body>
	<div th:insert="navbar :: navbar"></div>
	
	<div class="container-fluid">
		<br/><br/><br/>
		<h4 id="section-1">&nbsp;&nbsp;&nbsp;Heroku Resources</h4>
				<div style="text-align:left;">
			<span style="float:right;">
				<form action="/resource/index">
    				<input type="submit" value="Return to Resource Categories" />
				</form>
			</span>
		</div>

		<div id="htmldocs">
			<div>
				<ul>
					<li><a href="https://console.cron-job.org/login/" target="_blank" rel="noopener noreferrer"><small>000: </small>Cron job</a><br /></li>
					<li><a href="https://docs.cron-job.org/index.html" target="_blank" rel="noopener noreferrer"><small>001: </small>cron-job.org Documentation</a><br /></li>
					<li><a href="https://dashboard.heroku.com/account" target="_blank" rel="noopener noreferrer"><small>002: </small>Heroku Account </a><br /></li>
					<li><a href="https://blog.heroku.com" target="_blank" rel="noopener noreferrer"><small>003: </small>Heroku Blog</a><br /></li>
					<li><a href="https://www.heroku.com/developers" target="_blank" rel="noopener noreferrer"><small>004: </small>Heroku is for Developers</a><br /></li>
					<li><a href="https://help.heroku.com/6IPLINXJ/mfa-faq?utm_source=techcomms&utm_medium=email&utm_campaign=FY23" target="_blank" rel="noopener noreferrer"><small>005: </small>Heroku MFA FAQ</a><br /></li>
					<li><a href="https://trailhead.salesforce.com/trailblazer-community/groups/0F93A000000DQQHSA4?sort=LAST_MODIFIED_DATE_DESC&tab=discussion#discussion/" target="_blank" rel="noopener noreferrer"><small>006: </small>MFA Getting Started</a><br /></li>
					<li><a href="https://devcenter.heroku.com/articles/recovery-codes?utm_source=techcomms&utm_medium=email&utm_campaign=FY23" target="_blank" rel="noopener noreferrer"><small>007: </small>MFA Recovery Codes</a><br /></li>
					<li><a href="https://calm-spire-78454.herokuapp.com" target="_blank" rel="noopener noreferrer"><small>008: </small>Nancy’s Family Web Site</a><br /></li>
					<li><a href="https://uptimerobot.com/dashboard.php#mainDashboard" target="_blank" rel="noopener noreferrer"><small>009: </small>UptimeRobot</a><br /></li>
				</ul>
			</div>
		</div>	
		<br/>
		<div>
			<form action="/resource/index">
    			<input type="submit" value="Return to Resource Categories" />
			</form>
		</div>
		<div class="container" th:replace="fragments/footer :: footer">
			<p>footer</p>
		</div>	
</body>
</html>