<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<th:block th:replace="fragments/header :: head">
		<meta charset='UTF-8'>
		<title id="pageTitle">Windows Resources</title>
	</th:block>
	<link rel="stylesheet" href="/css/wiki.css">
	<style>
		#htmldocs {
			height: 300px;
			width: 600px;
			overflow: scroll; /* This is the key!! */
			border: 1px #aabbcc solid;
			padding: 10px;}
  	</style>
</head>
<body>
	<div th:insert="navbar :: navbar"></div>
	
	<div class="container-fluid">
		<br/><br/><br/>
		<h4>&nbsp;&nbsp;&nbsp;Windows Resources</h4>
		<div style="text-align:left;">
			<span style="float:right;">
				<form action="/resource/index">
    				<input type="submit" value="Return to Resource Categories" />
				</form>
			</span>
		</div>
		
		<div id="htmldocs">
			<div>
				<ul>
					<li><a href="https://www.makeuseof.com/fix-high-disk-cpu-usage-during-windows-update/?utm_source=MUO-NL-RP&utm_medium=newsletter&user_id=jhart.naples@gmail.com" 
						target="_blank" rel="noopener noreferrer"><small>000: </small>6 Ways to Fix High Disk and CPU Usage During Windows Update</a><br /></li>
					<li><a href="https://softwarekeep.com/help-center/how-to-fix-the-dns-server-isnt-responding-error-on-windows-10" 
						target="_blank" rel="noopener noreferrer"><small>001: </small>How to Fix a 'DNS Server Is Not Responding' Error on Windows 10</a><br /></li>
					<li><a href="https://www.makeuseof.com/how-to-permanently-delete-files-on-pc-before-selling/" 
						target="_blank" rel="noopener noreferrer"><small>002: </small>How to Permanently Delete Files on Your PC Before Selling It</a><br /></li>
					<li><a href="https://www.makeuseof.com/microsoft-safety-scanner-guide/" 
						target="_blank" rel="noopener noreferrer"><small>003: </small>How to Use Microsoft Safety Scanner to Scan for Malware</a><br /></li>
					<li><a href="https://helpdeskgeek.com/windows-11/what-is-the-windows-bt-folder-and-can-you-delete-it" 
						target="_blank" rel="noopener noreferrer"><small>004: </small>What is the $Windows.~BT Folder (And Can You Delete It)?</a><br /></li>
				</ul>
			</div>
		</div>
		<br/>
		<div>
			<form action="/resource/index">
    			<input type="submit" value="Return to Resource Categories"/>
			</form>
		</div>
		
		<div class="container" th:replace="fragments/footer :: footer">
			<p>footer</p>
		</div>
	</div>		
</body>
</html>